/*
fonts used:
font-family: 'outcastishregular', Arial, sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Fjalla One', sans-serif;
font-family: 'Anton', sans-serif;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-family: 'Orelega One', cursive;
*/

body {
	font-family: 'Arial';
	color: black;
	background-color: #3c300c;
	overflow-x: hidden;
}

.cancel {
	display: none;
}

.prairie {
	/*
	background-color: #5d642a;
	*/
	height: 110vh;
}

.bg_blue {
	position: fixed;
	background-color: #ccb19a;
	z-index: -1;
	width: 100%;
	height: 110vh;
}

.barren {
	/*background-color: #9ab5cc;*/
	height: 110vh;
}

.barren_alt {
	background-image: url("assets/textures/txt_judo.png");
	background-size: 200%;

}

.outskirts {
	background-color: #ccb19a;
	height: 100vh;
}

#phase {
	font-family: 'Poppins', sans-serif;
	font-size: 24px;
	background-color: #000;
	color: #FFBE0A;
	user-select: none;
	float: right;
	margin-right: 8px;
}

#footer {
	font-family: 'Poppins', sans-serif;
	font-size: 24px;
	background-color: #000;
	color: #FFBE0A;
	float: left;
	padding: 4px;
	margin-left: 8px;
	user-select: none;
}

.sampler {
	background: #000;
	height: 20vh;
	z-index: -1;	
}

#front_logo {
	position: absolute;
}

#publish_front {
	z-index: 99;
	background: #000;
}

#publish_header {
	width: 100%;
	float: left;
}

#publish_logo {
	float: left;
	position: relative;
	right: 0px;
	margin: 12px;
	margin-top: 64px;
	/*filter: drop-shadow(0 0 8rem #FFF);*/
	max-width: 30%;
	user-select: none;
}

#publish_outbox {
	position: absolute;
	float: left;
	left: 40%;
	width: 55%;
	margin: 10px;
	margin-top: 0;
	/*background: linear-gradient(rgba(0, 0, 0, 1), rgba(255, 0, 0, 0));*/
}

#publish_inbox {
	position: absolute;
    margin: 10px;
}

#publish_headback {
	float: left;
	position: relative;
	top: 10%;
	width: 100%;
	max-width: 100%;
}

#publish_headline {
	width: 100%;
	max-width: 100%;
}

#publish_desc {
	font-family: 'Poppins', sans-serif;
	top: 32px;
	font-size: 22px;
	width: 128px;
	background: #000;
	padding: 4px;
}

#publish_flavor1 {
	position: fixed;
	right: 20%;
	bottom: 86px;
	width: 10%;
}

.publish_catlabel {
	display: block;
	width: 20%;
	margin-left: 12px;
	/*background: linear-gradient(rgba(0, 0, 0, 1), rgba(255, 0, 0, 0));*/
}

.publish_catback {
	position: absolute;
	width: 20%;
}

#publish_catvg {
	position: relative;
	width: 100%;
}

.publish_category {
	width: 99%;
}

.publish_catbox {
	width: 100%;
	background: #000;
	padding: 4px;
	margin: 8px;
}

.pub_item {
	float: left;
	width: 20vw;
	height: 20vw;
	border: 10px solid #000;'
	margin: 0;
	background: #000;
	height: 20vw;
}

.pub_item img {
	width: 100%;
	background: #000;
	border: 2px solid orange;
}

.pub_item img:hover {
	filter: brightness(0.9);
	transform: scale(0.9);
	cursor: pointer;
	border-color: yellow;
	transition: transform 0.1s;
}

.pub_item p {
	font-family: 'Poppins', sans-serif;
	/*font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;*/
	font-size : clamp(1rem, 1.5vw, 3rem);
	background-color: #c2c2c2;
	color: #000;
	user-select: none;
	text-align: center;
	width: 100%;
	position: relative;
	top: -16px;
	padding: 4px;
}

.pub_item:hover p {
	background-color: #dcbd19;
}

#publish_bdesc {
	font-family: 'Poppins', sans-serif;
	font-size: 22px;
	width: 278px;
	padding: 4px;
	text-align: center;
}

#publish_bdesc p {
	color: #dcbd19;
	background: #000;
	padding: 4px;
	
}

.front_link {
	font-family: 'Poppins', sans-serif;
	font-size: 22px;
	width: 278px;
	text-align: center;
	color: #dcbd19;
	background: #000;
	padding: 4px;
}

.front_link:hover {
	color: #FE6800;
	transform: scale(0.9);
	transition: transform 0.1s;
}

.push_back {
	z-index: -1;
}

.logo_inactive {
	filter: saturate(1);
	transform: rotatey(0deg);
	transition: filter 0.2s, transform 0.1s;
}

.logo_active {
	background: url("assets/logo/redo_button_flip.png");
	background-size: contain;
	
	filter: brightness(0.2) invert(0.9) drop-shadow(0 0 8rem #FFF);
	transform: rotatey(360deg);
	transition: filter 0.2s, transform 0.2s;
}

#redofield {
	
	background: linear-gradient(rgba(0, 0, 0, 1), rgba(255, 0, 0, 0.1)), url('assets/structure/redo_field.png');
	background-size: cover;
	overflow: hidden;
	z-index: 999;
}

#redofloor {
	position: relative;
	top: 8px;
	user-select: none;
}

.floater {
	position: relative;
	user-select: none;
	padding: 8px;
	font-size: 38px;
}

.tight {
	width: 76%;
}
.tighter {
	width: 100%;
}

.wcap {
	max-width: 100%;
}

.pop {
	filter: hue-rotate(20deg) drop-shadow(20px 20px #111);
}

.pop2 {
	filter: hue-rotate(-10deg) drop-shadow(6px 3px #111);
}

/* Text Modifiers */
@font-face {
    font-family: 'outcastishregular';
    src: url('assets/fonts/outcastish-regular.woff2') format('woff2'),
         url('assets/fonts/outcastish-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.fntOrelaga {
	font-family: 'Orelega One', cursive;
}

.fntOutcastish {
	font-family: 'outcastishregular', Arial, sans-serif;
}

.fntDefault {
	font-family: Arial, sans-serif;
}

.ext0 {
	font-size: 60px;
}

.ext1 {
	font-size: 32px;
}

.ext2 {
	font-size: 24px;
}

.ext3 {
	font-size: 18px;
}

.ext4 {
	font-size: 12px;
}

.compact1 {
	font-size: 4px;
}

.cB { /* Black */
	color: #000;
}

.cW { /* White */
	color: #FFF;
}

.cD { /* Dark */
	color: #33220B;
}

.cY { /* Mustard Yellow */
	color: #dcbd19;
}

.cYd { /* Orange */
	color: #FE6800;
}

.cP { /* Purple */
	color: #BB96FC;
}

.cR { /* Red */
	color: #FE1F00;
}

.cG { /* Gray */
	color: #c1c1c1;
}

.cGd { /* Gray Dark */
	color: #737373;
}

.cGr { /* Green */
	color: #67b427;
}

.cBl { /* Blue */
	color: #0029FF;
}

.cRG { /*Pale Green*/
	color: #5d642a;
}

.cRO { /*Pale Orange*/
	color: #ad804a;
}

.cRW { /*Pale White*/
	color: #ece3e1;
}

.cRB { /*Pale White*/
	color: #4e7cb3;
}

.cRP { /*Pale Purple*/
	color: #a29bd5;
}

.centered {
	display: block;
    margin-left: auto;
    margin-right: auto;
}

.centext {
	text-align: center;
}

.align_right{
	float: right;
}

.divider {
	font-size: 6px;
	color: white;
	background-color: #c1c1c1;
	margin: 16px 0px;
	user-select: none;
}

.separation {
	color: white;
	margin: 36px 0px;
	user-select: none;
}

.separation2 {
	color: white;
	margin: 18px 0px;
	user-select: none;
}

.gap {
	color: white;
	margin: 96px 0px;
	user-select: none;
}

.gap2 {
	color: white;
	margin: 78px 0px;
	user-select: none;
}

.screenbreak {
	color: white;
	margin: 56vh 0px;
	user-select: none;
}

/* Folder */
.foldergroup {
	background-color: #051d2e;
	/*
	background-image: url("assets/textures/txt_management.png");
	background-size: 20%;
	*/
	margin-left: 16px;
	margin-right: 4px;
	padding: 2px 4px 16px 32px;
}

.folder {
	/*background-color: #0E6643;*/
	background-image: url("assets/textures/txt_handler.png");
	background-size: 50%;
	background-size: cover;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	padding: 6px;
}

.folder_open {
	color: #FFF;
}

.folder_closed {
	color: #FFFBBB;
	display: none;
}

.folder_tab {
	user-select: none;
	font-family: 'Orelega One', cursive;
	font-size: 28px;
	padding: 8px;
	background-color: #000;
}

.folder_tab:before {
    content:"• ";
	font-size: 52px;
	float: left;
	position: relative;
	top: 12px;
	left: -28px;
}
.folder_tab_open:after {
    color: #F0CC00;
	content:"   [ - close - ]";
	float: right;
	font-size: 22px;
	background-color: #000;
	position: relative;
	top: -22px;
}
.folder_tab_closed:after {
    color: #20CC00;
	content:"   [ + ]";
	float: right;
	font-size: 22px;
	position: relative;
	top: -22px;
}
.folder_tab_closed:hover:after {
    color: #20CC00;
	content:"   [ + ]";
	float: right;
	font-size: 32px;
	transition: font-size 0.1s;
}

.folder_tab_open {
	color: #FFF;
	filter: saturate(0) brightness(100%);
	border-bottom: 6px #c7873a solid;
}
.folder_tab_open:hover {
	color: #C2C2C2;
	filter: saturate(0);
	transition: color filter 0.1s;
	cursor: pointer;
}

.folder_tab_closed {
	color: #d19114;
}
.folder_tab_closed:hover {
	color: #C2C2C2 !important;
	transition: color 0.1s;
	cursor: pointer;
}

.folder_sub {
	/*background: linear-gradient(rgba(0, 0, 0, 1), rgba(255, 0, 0, 0.2)), url('assets/structure/redo_field.png');*/
	text-align: center;
	font-size: 24px;
	font-family: 'Fjalla One', sans-serif;
	/*text-decoration: underline #013F27;*/
	/*border-bottom: 4px solid #000;*/
	color: #FFFBBB;
}

/* */
.important {
	font-size: 48px;
	padding: 8px;
}

.point {
	font-size: 28px;
	padding: 4px;
}

.detail {
	color: black;
	font-size: 16px;
}

#contact_list {
	list-style: none;
	position: relative;
	top: -46px;
	padding: 10px;
}

.icon {
	max-width: 64px;
	background: #000;
}

#ico_twitter:after {
	content: "twitter";
}
#ico_email:after {
	content: "email";
}

.contact_text {
	font-family: 'Poppins', sans-serif;
	font-size: 18px;
	background-color: #000;
	color: #FFFBBB;
	margin-left: 48px;
	max-width: 168px;
	max-height: 48px;
	user-select: none;
}

.contact_text:hover {
	color: red;
	cursor: pointer;
}


.nav_button {
	max-width: 30%;
	max-height: 48px;
	background-color: #000;
	position: fixed;
	top: -16px;
	margin-left: 8px;
	z-index: 999;
}

.nav_button:hover {
	cursor: pointer;
}

.nav_button_text:after {
	width: 0; 
	height: 0; 
	font-size: 0px;
	content: "...";
	position: relative;
	left: -24px;
	top: 25px;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 20px solid #000;
}

.nav_button_text {
	background: #000;
	font-family: 'Poppins', sans-serif;
	font-size: 20px;
	color: orange;
	user-select: none;
	position: relative;
	border-top: 20px solid #000;
	top: 0px;
	padding: 4px;
}

.nav_button:hover .nav_button_text {
	top: 16px;
	color: red;
	transition: top 0.1s;
}

.arrow-up {
  width: 0; 
  height: 0; 
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid #000;
}

.arrow-down {
  width: 0; 
  height: 0; 
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #000;
}

.arrow-right {
  width: 0; 
  height: 0; 
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid #000;
}

.arrow-left {
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent; 
  border-right:20px solid #000; 
}

.arrow-bottom-left {
  width: 0; 
  height: 0; 
  border-top: 10px solid transparent;
  border-bottom: 10px solid #000;
  border-left: 10px solid #000;
  border-right: 10px solid transparent;
}

aside {
	position: fixed;
	top: 0px;
	right: 0px;
}

#team_list {
	padding: 10px;
	background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

#team_heading {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: 20px;
	background-color: #000;
	color: #FFBE0A;
	min-width: 200px;
	margin-left: 48px;
	margin-bottom: 0px;
	padding: 4px;
	user-select: none;
	text-align: center;
}

.team_li {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: 14px;
	background-color: #000;
	color: #FFFBBB;
	margin-top: 4px;
	padding: 2px;
	user-select: none;
	text-align: center;
	white-space: nowrap;
}

.team_li:after {
	width: 0; 
	height: 0; 
	font-size: 0px;
	content: "...";
	position: relative;
	left: 40px;
	top: 18px;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid #000;
}

.navigation {
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 9999;
}
.nav_list {
	list-style: none;
	padding: 0px;
	margin-top: 0px;
	margin-left: 16px;
}

.nav_sel {
	max-width: 30%;
	max-height: 48px;
	background: #000;
	float: left;
	margin-right: 8px;
}

.nav_text {
	font-family: 'Poppins', sans-serif;
	font-size: 20px;
	background-color: #000;
	color: orange;
	user-select: none;
	text-align: center;
	position: relative;
	top: -16px;
	padding: 4px;
	border-top: 20px solid #000;
}

.nav_sel:hover .nav_text {
	top: 0px;
	color: red;
	transition: top 0.1s;
}

.nav_sel:hover {
	
	
	cursor: pointer;
	
}

.nav_text:after {
	width: 0; 
	height: 0; 
	font-size: 0px;
	content: "...";
	position: relative;
	left: -32px;
	top: 25px;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 20px solid #000;
}

.ripple_box {
	position: absolute;
	top: 96vh;
	width: 100%;
	height: 264px;
	z-index: 999;
	overflow: hidden;
}

.ripple {
	width: 60%;
	height: 100%;
}

a {
	text-decoration: none;
}
